// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  min-width:650px;
}
body {
  background:url(amethyst011-2.jpg);
}

.navbar-inner {
  background:url(amethyst012-3.jpg);
  border-bottom: 3px dashed white;
  position:relative;
  img {
    position:absolute;
    bottom:-40%;
    left:10px;
    width:8%;
  }
}

.container {
  padding-top: 5px;
}

.main-title {
  text-align: center;
  margin:25px 0;
  font-family:'Andika', sans-serif;
  color:#ece5f7;
}

.sign-in {
  float:right;
  margin:20px 20px 0 0;
}

.btn__style {
  font-family:'Andika', sans-serif;
  background:url(amethyst012-3.jpg);
  border: 2px dashed white;  
  color:white;
  background-position:0 0;
  color:white;        
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  &:active {
    box-shadow: inset 0 5px 4px rgba(0,0,0,.35); 
  }
  &:focus {
    outline:none;
  }
  &:hover {
    text-decoration:none;
    color:white;
  }
}

.input-append {
  height: 30px; 
  padding-top: 10px;
}

#expand-succes div {
  padding: 30px;
}

.table-bordered {
  border: 1px solid #666;
    th, td {
      border-left: 1px solid #666;
      border-top: 1px solid #666;
    }
}
.td__short-url, .td__url {
  width:40%;
}
.td__delete, .td__follows {
  width:15%;
}
.td__num {
  width:5%;
    border-left:0 !important;
}

.table__hide, .wrap-input-expand__hide {
  display:none;
}

.table__visible, .wrap-input-expand__visible {
  display:block;
}

.wrap-input-shorten {
  margin:50px auto;
}

.wrap-input-shorten .input__shorten {
  padding:8px 10px;
}
.btn__shorten {
  padding:10px 20px;
  font-size:18px;
}
.input__shorten, .btn__shorten {
  display:block !important;
  margin:10px auto !important;
}

.btn__expand {
  vertical-align: top;
  margin-left: -2px;
  border-radius: 0 4px 4px 0;
}

.modal {
  padding: 1em 1.5em;
}

@media screen and (max-width: 980px) {
  .input-xlarge {
    width: 200px;
  }
.navbar-inner {
  img {
    bottom:-25%;
  }
}
}